<template id="partenaire_add_user_row">
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_nom_new__ID__" class="fr-label">Nom<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="text" id="partenaire_users_nom_new__ID__" name="partenaire[users][new][__ID__][nom]" required="required" class="fr-input">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le nom du nouveau partenaire.
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_prenom_new__ID__" class="fr-label">Prénom<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="text" id="partenaire_users_prenom_new__ID__" name="partenaire[users][new][__ID__][prenom]" required="required" class="fr-input">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le prénom de l'utilisateur
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_email_new__ID__" class="fr-label">Courriel<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="email" id="partenaire_users_email_new__ID__" name="partenaire[users][new][__ID__][email]" required="required" class="fr-input">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le courriel de l'utilisateur.
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_roles_new__ID__" class="fr-label">Role<sup class="fr-text-label--red-marianne">*</sup></label>
        <select id="partenaire_users_roles_new__ID__" name="partenaire[users][new][__ID__][roles]" required="required" class="fr-select">
            <option value="" selected="selected">--- Selectionnez ---</option>
            <option value="ROLE_ADMIN_PARTENAIRE">Administrateur</option>
            <option value="ROLE_USER_PARTENAIRE">Utilisateur</option>
        </select>
        <p class="fr-error-text fr-hidden">
            Vous devez selectionner le role de l'utilisateur
        </p>
    </div>
    <div class="fr-input-group">
        <label for="partenaire_users_delete__ID__" class="fr-label">Suppr.</label>
        <button class="fr-btn fr-btn--danger fr-fi-delete-line fr-mt-3v" id="partenaire_users_delete__ID__"></button>
    </div>
    <div class="fr-input-group fr-hidden"></div>
</template>
{{ form_start(form,{attr:{'class':'needs-validation','novalidate':true}}) }}
<div class="fr-input-group">
    <label for="{{ form.nom.vars.id }}" class="fr-label">Nom<sup class="fr-text-label--red-marianne">*</sup></label>
    {{ form_widget(form.nom) }}
    <p class="fr-error-text fr-hidden">
        Vous devez renseigner le nom du partenaire.
    </p>
</div>
{% for user in partenaire.users %}
<div class="partenaire-row-user fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_nom_{{ user.id }}" class="fr-label">Nom<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="text" id="partenaire_users_nom_{{ user.id }}" name="partenaire[users][{{ user.id }}][nom]" required="required" class="fr-input" value="{{ user.nom|upper }}">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le nom de l'utilisateur.
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_prenom_{{ user.id }}" class="fr-label">Prénom<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="text" id="partenaire_users_prenom_{{ user.id }}" name="partenaire[users][{{ user.id }}][prenom]" required="required" class="fr-input" value="{{ user.prenom|capitalize }}">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le prénom de l'utilisateur.
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_email_{{ user.id }}" class="fr-label">Courriel<sup class="fr-text-label--red-marianne">*</sup></label>
        <input type="email" id="partenaire_users_email_{{ user.id }}" name="partenaire[users][{{ user.id }}][email]" required="required" class="fr-input" value="{{ user.email }}">
        <p class="fr-error-text fr-hidden">
            Vous devez renseigner le courriel de l'utilisateur.
        </p>
    </div>
    <div class="fr-input-group fr-col">
        <label for="partenaire_users_roles_{{ user.id }}" class="fr-label">Role<sup class="fr-text-label--red-marianne">*</sup></label>
        <select id="partenaire_users_roles_{{ user.id }}" name="partenaire[users][{{ user.id }}][roles]" required="required" class="fr-select">
            <option value="ROLE_ADMIN_PARTENAIRE" {% if 'ROLE_ADMIN_PARTENAIRE' in user.roles %}selected{% endif %}>Administrateur</option>
            <option value="ROLE_USER_PARTENAIRE" {% if 'ROLE_USER_PARTENAIRE' in user.roles %}selected{% endif %}>Utilisateur</option>
        </select>
        <p class="fr-error-text fr-hidden">
            Vous devez selectionner le role de l'utilisateur
        </p>
    </div>
    <div class="fr-input-group">
        <label for="partenaire_users_delete_{{ user.id }}" class="fr-label">Suppr.</label>
        <button class="fr-btn fr-btn--danger fr-fi-delete-line fr-mt-3v partenaire-user-delete" id="partenaire_users_delete_{{ user.id }}" data-user-delete="{{ path('back_partenaire_user_delete',{user:user.id}) }}" data-token="{{ csrf_token('partenaire_user_delete_'~user.id) }}"></button>
    </div>
    <div class="fr-input-group fr-hidden"></div>
</div>
{% endfor %}
<hr>
<div id="partenaire_add_user_placeholder" ></div>
<div class="fr-grid-row">
    <div class="fr-col-12 fr-text--center">
        <button class="fr-btn fr-btn--secondary fr-fi-add-circle-line fr-btn--icon-left" id="partenaire_add_user"> Ajouter un utilisateur</button>
    </div>
</div>
<hr style="visibility: hidden">
<hr>
<div class="fr-grid-row">
    <div class="fr-col-12">
        <div class="fr-btns-group fr-btns-group--equisized fr-btns-group--icon-left">
            <a class="fr-btn fr-btn--secondary fr-fi-arrow-left-line" href="{{ path('back_partenaire_index') }}">Retourner à la
                liste</a>
            <button class="fr-btn fr-fi-check-line"> Enregistrer</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
