<dialog aria-labelledby="cloture-modal-title" id="cloture-modal" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <h1 id="cloture-modal-title" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--sm"></span>
                            Cloturer le signalement #{{ signalement.reference }}
                        </h1>
                        <button class="fr-link--close fr-link" aria-controls="cloture-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        {{ form_start(clotureForm) }}
                        {{ form_label(clotureForm.motif) }}
                        {{ form_help(clotureForm.motif) }}
                        {{ form_widget(clotureForm.motif) }}
                        {{ form_end(clotureForm) }}
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-fi-checkbox-line fr-w-100" form="cloture_form" name="cloture[type]" value="1">
                                    Cloturer pour {{ app.user.partenaire ? app.user.partenaire.nom }}
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--danger fr-fi-checkbox-line fr-w-100" form="cloture_form" name="cloture[type]" value="2">
                                    Cloturer pour tous les partenaires
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>