{% extends 'back/base_bo.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="fr-grid-row fr-grid-row--middle fr-p-5v ">
        <div class="fr-col-6">
            <h1 class="fr-h2 fr-mb-0">Nouveaux suivis</h1>
        </div>
        <div class="fr-col-6 fr-text--right">
            <a class="fr-btn fr-btn--icon-left fr-fi-check-line" href="{{ path('back_partenaire_new') }}">Marquer tous comme lus</a>
        </div>
    </section>
    <section class="fr-col-12 fr-table fr-table--bordered fr-pt-0">
        <table class="fr-display-inline-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Signalement</th>
                <th>Date</th>
                <td>Desc.</td>
                <th>Par</th>
                <th class="fr-text--right">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for suivi in suivis %}
                <tr class="partenaire-row">
                    <td>{{ suivi.id }}</td>
                    <td>{{ suivi.signalement.reference }}</td>
                    <td>{{ suivi.createdAt|date('d/m/Y à H:i') }}</td>
                    <td>{{ suivi.description }}</td>
                    <td>{{ suivi.createdBy.nomComplet }}</td>
                    <td class="fr-text--right"><a href="{{ path('back_signalement_view',{uuid:suivi.signalement.uuid}) }}#suivis" class="fr-btn fr-fi-eye-fill"></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>


{% endblock %}
