<!DOCTYPE html>
<html lang="fr"{# data-fr-scheme="light" #}>
<head>
    <meta charset="UTF-8">
    {% if 'back_' in app.request.get('_route') %}
        <meta name="robots" content="noindex, nofollow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Histologe - {% block title %}{% endblock %}</title>
    <meta name="description" content="Signalez un problème d'habitabilité dans votre logement.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://histologe.bzez.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Histologe">
    <meta property="og:description" content="Signalez un problème d'habitabilité dans votre logement.">
    <meta property="og:image" content="{{ asset('img/Logohistologe.png') }}">
    <meta property="og:site_name" content="Histologe">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="histologe.bzez.dev">
    <meta property="twitter:url" content="https://histologe.bzez.dev/">
    <meta name="twitter:title" content="Histologe">
    <meta name="twitter:description" content="Signalez un problème d'habitabilité dans votre logement.">
    <meta name="twitter:image" content="{{ asset('img/Logohistologe.png') }}">
    <meta name="twitter:title" content="Histologe">
    <meta name="twitter:description" content="Signalez un problème d'habitabilité dans votre logement.">
    <meta name="apple-mobile-web-app-title" content="Histologe">
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/histologe.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if 'back_' not in app.request.get('_route') %}
{% include "header.html.twig" %}
{% endif %}
<!-- Report de bug -->
{% include 'back/bug_report/modal_bug.html.twig' %}
{% block body %}{% endblock %}
{% if 'back_' not in app.request.get('_route') %}
    {% include "footer.html.twig" %}
{% endif %}
<script type="module" src="{{ asset('dsfr/dsfr.module.min.js') }}"></script>
<script type="text/javascript" nomodule src="{{ asset('dsfr/dsfr.nomodule.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/screencapture.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
<script src="{{ asset('js/img_box.js') }}"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="{{ asset('js/gauge.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
