<!DOCTYPE html>
<html lang="fr"{# data-fr-scheme="light"#}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Histologe - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/histologe.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
        <script type="module" src="{{ asset('dsfr/dsfr.module.min.js') }}"></script>
        <script type="text/javascript" nomodule src="{{ asset('dsfr/dsfr.nomodule.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
