<!DOCTYPE html>
<html lang="fr"{# data-fr-scheme="light"#}>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Histologe - {% block title %}{% endblock %}</title>
        <meta name="description" content="Signalez un problème d'habitabilité dans votre logement.">
        <meta property="og:title" content="Histologe">
        <meta property="og:url" content="https://histologe.beta.gouv.fr">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Signalez un problème d'habitabilité dans votre logement.">
        <meta property="og:site_name" content="Histologe">
        <meta name="twitter:title" content="Histologe">
        <meta name="twitter:description" content="Signalez un problème d'habitabilité dans votre logement.">
        <meta name="apple-mobile-web-app-title" content="Histologe">
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/histologe.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
        <script type="module" src="{{ asset('dsfr/dsfr.module.min.js') }}"></script>
        <script type="text/javascript" nomodule src="{{ asset('dsfr/dsfr.nomodule.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
