<nav class="fr-header__tools">
    <div class="fr-header__tools-links">
        <ul class="fr-links-group">
                <li>
                    <a class="fr-link fr-fi-refresh-line" href="{{ path('home') }}">Accueil</a>
                </li>
                <li>
                    <a class="fr-link fr-fi-eye-line" href="{{ path('about') }}">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="fr-link fr-fi-chat-quote-line" href="{{ path('contact') }}">Contact</a>
                </li>
                <li>
                    <a class="fr-link fr-fi-question-line" href="{{ path('faq') }}">Aide</a>
                </li>
                <li>
                    <a class="fr-link fr-fi-lock-line" href="{{ path('app_login') }}">Se connecter</a>
                </li>
        </ul>
    </div>
</nav>