{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {# {{ dump(signalements) }} #}
    <main class="fr-container-fluid">
        <div class="fr-grid-row">
           {% include 'back/nav_bo.html.twig' %}
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-10">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea.editor',
            plugins: 'lists',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist',
            menubar: false,
            height: 320,
            setup: function (editor) {
                editor.on('input', function (e) {
                    if (editor.formElement.classList.contains('tinyCheck')) {
                        let isOk = true,
                            submitter = document.querySelector('button[form="' + editor.formElement.id + '"]')
                        isOk = editor.getContent().length <= 17;
                        !isOk && document.querySelector('#'+editor.id).parentElement.classList.add('fr-input-group--error'), document.querySelector('#'+editor.id).parentElement.querySelector('.fr-error-text').classList.remove('fr-hidden');
                        submitter.disabled = isOk;
                    }
                });
            }
        });
    </script>
{#    <script src={{asset(''[^']*') }}></script>#}
{% endblock %}