{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
<style>
    body.load::after {
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: 'TESTST';
        background: rgba(255, 255, 255, 0.27);
        backdrop-filter: blur(2rem);
    }
</style>
{% endblock %}
{% block body %}
    {# {{ dump(signalements) }} #}
    <main class="fr-container-fluid">
        <div class="fr-grid-row">
           {% include 'back/nav_bo.html.twig' %}
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-10">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
{#    <script src={{asset(''[^']*') }}></script>#}
{% endblock %}