{% extends 'back/base_bo.html.twig' %}

{% block content %}
    <section class="fr-col-12 fr-col-md fr-background-alt--grey fr-p-5v">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-3">
                <div class="fr-rounded fr-highlight fr-p-3v fr-text--center bloc-stat">
                    <span class="fr-display-xs">{{ signalements.counts.new }}</span><br>
                    <strong class="text-blue-france">Nouveaux</strong>
                </div>
            </div>
            <div class="fr-col-3">
                <div class="fr-rounded  fr-highlight fr-p-3v fr-text--center bloc-stat">
                    <span class="fr-display-xs">{{ signalements.counts.await }}</span><br>
                    <strong class="text-blue-france">Attente</strong>
                </div>
            </div>
            <div class="fr-col-3">
                <div class="fr-rounded  fr-highlight fr-p-3v fr-text--center bloc-stat">
                    <span class="fr-display-xs">{{ signalements.counts.review }}</span><br>
                    <strong class="text-blue-france">Revoir</strong>
                </div>
            </div>
            <div class="fr-col-3">
                <div class="fr-col fr-rounded  fr-highlight fr-p-3v fr-text--center bloc-stat">
                    <span class="fr-display-xs">{{ signalements.counts.closed }}</span><br>
                    <strong class="text-blue-france">Fermés</strong>
                </div>
            </div>
        </div>
    </section>
    <section class="fr-col-12 fr-p-5v">

        <form action="#" name="bo-filter-form" method="POST"
              class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-6">
                <label class="fr-label" for="filter_ville"><strong>Filter par ville</strong></label>
                <select name="bo-filter-ville" id="filter_ville" class="fr-select">
                    <option value="all">--- Selectionnez ---</option>
                    {% for ville in signalements.villes %}
                        <option value="{{ ville }}">{{ ville|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="fr-col-6">
                <label class="fr-label" for="filter_statut"><strong>Filter par statut</strong></label>
                <select name="bo-filter-statut" id="filter_statut" class="fr-select">
                    <option value="all">--- Selectionnez ---</option>
                    <option value="new">Nouveaux</option>
                    <option value="wait">En attente</option>
                    <option value="review">A revoir</option>
                    <option value="closed">Fermés</option>
                </select>
            </div>
        </form>
    </section>
    <section class="fr-col-12">
        <table class="fr-w-100 fr-table">
            <thead>
            <tr>
                <th>#</th>
                <th>#Ref.</th>
                <th>Date</th>
                <th>Situation(s)</th>
                <th>Alert.</th>
                <th>Procédure</th>
                <th>Desc.</th>
                <th>Ville</th>
                <th>Affectation</th>
                <th>Etat</th>
                <th class="fr-text--right">Suppr.</th>
            </tr>
            </thead>
            <tbody>
            {% for index,signalement in signalements.list %}
                <tr>
                    <td>{{ index+1 }}</td>
                    <td>
                        <span class="fr-fi-links-fill fr-link--icon-right"></span> <a
                                href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}">{{ signalement.reference }}</a>
                    </td>
                    <td>{{ signalement.createdAt|date('d/m/Y') }}</td>
                    <td>{% for situation in signalement.situations %}
                            <img src="{{ asset('img/p_'~ situation.id~'.png') }}"
                                 alt="{{ situation.label }}">
                        {% endfor %}
                    </td>
                    <td>{# {{ signalement.hasAlert ? 'Oui' : 'Non' }} #}</td>
                    <td>{{ signalement.codeProcedure ? signalement.codeProcedure : 'Aucune' }}</td>
                    <td><small><strong>[ {{ signalement.nomOccupant|upper~' '~signalement.prenomOccupant|capitalize }}
                                ]</strong></small><br>{{ signalement.details }}</td>
                    <td>{{ signalement.villeOccupant|upper }} <br>
                        <small>[{{ signalement.adresseOccupant }}]</small>
                    </td>
                    <td>
                        {% for partenaire in signalement.affectationsByPartenaire %}
                            {{ partenaire.nom }}
                            {% set statut = '' %}
                            {% for user in partenaire.users %}
                                {% if user in signalement.acceptedBy %}
                                    {% set statut = 'Accepté' %}
                                {% elseif user in signalement.refusedBy %}
                                    {% set statut = 'Refusé' %}
                                {% else %}
                                    {% set statut = 'En attente' %}
                                {% endif %}
                            {% endfor %}
                            <small class="fr-display-block">[{{ statut }}]</small>
                            {# {{ user.nom[:1]|upper~'. '~user.prenom|capitalize }} #}
                        {% else %}
                            Aucune
                        {% endfor %}
                    </td>
                    <td>
                        {% if signalement.statut is same as('new') %}
                            Nouveau
                        {% elseif signalement.statut is same as('await') %}
                            En attente d'info. complémentaire
                        {% elseif signalement.statut is same as('review') %}
                            A revoir
                        {% else %}
                            Fermé
                        {% endif %}
                    </td>
                    <td class="fr-text--right">
                        <form method="post" action="{{ path('back_signalement_delete',{id:signalement.id}) }}"
                              onsubmit="return confirm('Supprimer ce signalement ?')">
                            <button class="fr-btn fr-btn--orange fr-btn--sm fr-fi-delete-fill"></button>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_delete') }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}