{% for index,signalement in signalements.list %}
    <tr class="{% if signalement.statut is same as(1) %}fr-background-contrast--orange-terre-battue{% endif %} signalement-row" data-score="{{ signalement.scoreCreation }}">
        <td>
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}">{{ signalement.reference }}</a>
        </td>
        <td>{{ signalement.createdAt|date('d/m/Y') }}</td>
        <td>
            <canvas id="gauge-signalement-{{ signalement.id }}" class="fr-col-4 gauge-signalement"></canvas>
        </td>
        <td>
            {{ signalement.nomOccupant|upper}}<br>{{ signalement.prenomOccupant|capitalize }}
        </td>
        <td>{{ signalement.villeOccupant|upper }} <br>
            <small>[{{ signalement.adresseOccupant }}]</small>
        </td>
        <td>
            {% for affectation in signalement.affectations %}
                {% set classe = '' %}
                {% if affectation.statut is same as (0) %}
                    {% set classe = 'fr-text--orange fr-fi-question-fill fr-icon--sm' %}
                {% elseif affectation.statut is same as (1) %}
                    {% set classe = 'fr-text-label--green-emeraude fr-fi-checkbox-circle-fill fr-icon--sm' %}
                {% elseif affectation.statut is same as (2) %}
                    {% set classe = 'fr-text-label--red-marianne fr-fi-close-circle-fill fr-icon--sm' %}
                {% endif %}
                <small class="{{ classe }} fr-display-block"><span class="fr-text--black"> {{ affectation.partenaire.nom }}</span></small>
            {% else %}
                Aucune
            {% endfor %}
        </td>
        <td>
            {% if signalement.statut is same as(1) %}
                <strong class="fr-text-label--red-marianne">A valider</strong>
            {% elseif signalement.statut is same as(2) %}
                En cours
            {% elseif signalement.isCLosedFor(app.user.partenaire) or signalement.statut is same as(6) %}
                Fermé
            {% endif %}
        </td>
        <td class="fr-text--right">
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}" class="fr-btn fr-btn--sm fr-fi-eye-fill"></a>
            <a href="{{ path('back_signalement_edit',{uuid:signalement.uuid}) }}" class="fr-btn fr-btn--secondary fr-btn--sm fr-fi-edit-fill"></a>
            <button data-delete="{{ path('back_signalement_delete',{uuid:signalement.uuid}) }}" data-token="{{ csrf_token('signalement_delete_'~signalement.id) }}" class="fr-btn fr-btn--sm fr-btn--danger fr-fi-delete-fill signalement-row-delete"></button>
        </td>
    </tr>
{% endfor %}
{#
<script type="module">
    {% for signalement in signalements.list %}
    gauge = new Gauge(document.getElementById('gauge-signalement-{{ signalement.id }}')).setOptions(opts); // create sexy gauge!
    gauge.set({{ signalement.scoreCreation }}); // set actual value
    {% endfor %}
</script>#}
